@import "tailwindcss";
html,
body {
  @apply h-full ;
  background: #000;
}



/* For the whole scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Adjust width */
}

/* For the track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0); /* Light grey track */
}

::-webkit-scrollbar {
  width: 0px;
  
  
}
/* For the handle */
::-webkit-scrollbar-thumb {
  background: #f4f4f4; /* Dark grey handle */
  border-radius: 6px;
  width:2px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}